*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fire Sans", sans-serif;
}
.fira-sans {
  font-family: "Fira Sans", sans-serif;
  
}
header{
  /* background-color: rgb(242, 243, 240); */
  padding-top: 30px;
}

nav{
  width: 65%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 45px;
  align-items: center;
}
nav .menu a{
  font-size: 22px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all .5s ease;
}
.menu a:hover{
  color: rgb(3, 65, 27);
}
.btn{
  background-color: rgb(3, 65, 27);
  font-size: 22px;
  border-radius: 5px;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  color: white;
  transition: all .5s ease;
  
}
.section-heading{
  max-width: 800px;
  text-align: center;
}
.section-heading h2{
  font-size: 30px;
  margin-bottom: 25px;
}
.section-heading p{
  font-size: 20px;
  margin-bottom: 25px;
  line-height: 1.5;
  color: #757575;
}

.btn:hover{
  background-color: rgb(3, 65, 27);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: aqua;
}
.logo img{
  width: 120px;
}

#banner{
 margin: 40px;
 padding: 80px 20px;
 background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 text-align: center;
  
}
#banner .btn-info{
  display: block;
  margin: 0 auto;
  font-size: 22px;
  border-radius: 20px;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  color: rgb(3, 65, 27);
  transition: all .5s ease;

}
#banner .btn-info:hover{
  color: black;
}

.banner-content h1{
   font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin: 20px auto;
  color: white;

}
.banner-content h2{
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
  color: rgb(12, 167, 79);

}
 
.banner-content p{
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.5;
}
 .btn-button{
  background-color: rgb(53, 51, 51);
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  color: white;
  transition: all .5s ease;
  
  
}
.btn-button:hover{
  color: rgb(12, 167, 79);
}

#about{
  padding-top: 60px;
}
#about .about-container{
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 5px 5px;
}

#about .about-container .about-info{
  display: flex;
  justify-content: space-between;
}

.about-info .info-card h3{
  font-size: 20px;
  width: 600;
}

.about-info .info-card p{
  font-size: 20px;
  line-height: 1.5;
  color: #757575;
  margin-top: 10px;
}
.about-info .info-card img{
  background-color: orangered;
  border-radius: 40px;
  height: 60px;
  top: 60px;

}
.about-info{
  display: flex;
  gap: 25px;
  margin-top: 40px;
}
.info-card{
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all .5s ease;

}
.info-card:hover{
  transform: translateX(-10px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.2);
  
}
#skill{
  padding: 80px 0;
}
.skill-container{
  max-width: 1200px;
  margin: auto;
  
}
.section-heading{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.section-heading img{
  width: 400px;
  max-width: 100%;
}
.section-heading h4{
  font-size: 16px;
  color: rgb(12, 167, 79);
  text-transform: uppercase;
}
.section-heading h3{
  font-size: 20px;
  color: black;
  font-weight: 700;
  line-height: 1.2;
  
}
.section-heading p{
  font-size: 16px;
  color: #757575;
  
  
  
}
.section-heading ul{
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.section-heading ul li{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;

}
.section-heading ul li img{
  width: 20px;
  
}
#content-about{
  padding-top: 120px;
}
#content-about .hero-container{
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: bisque;
  padding: 130px 150px;
}
.hero-container{
  max-width: 820px;
  text-align: center;
}
.hero-container h2{
  font-size: 30px;
  margin-bottom: 30px;
}
.hero-container p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #757575;
}
.content-about .btn{
  margin-bottom: 20px;
}

.hero-container .btn{
  font-size: 16px;
  margin-bottom: 20px;
}

.footer{
  background-color: #111;
  padding: 20px 0;
  color: #fff;
  margin-top: 50px;
}
.footer-container{
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-image img{
  height: 50px;
}
.footer-copy{
  font-size: 14px;
  
  
}
.social-links h4{
  font-size: 20px;
  font-weight: 500;
}
.social-links a{
  color: #fff;
  margin-left: 15px;
  font-size: 18px;
  transition: all .5s ease;
}
.social-links a:hover{
  color: rgb(12, 167, 79);
  
}