*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fira-sans {
  font-family: "Fira Sans", sans-serif;
  
}
header{
  /* background-color: rgb(242, 243, 240); */
  padding-top: 30px;
}

nav{
  width: 65%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 45px;
  align-items: center;
}
nav .menu a{
  font-size: 22px;
  color: black;
  text-decoration: none;
}
.btn{
  background-color: rgb(3, 65, 27);
  font-size: 22px;
  border-radius: 5px;
  border: none;
  padding: 10px 16px;
  color: white;
}